.cooperation-nav {
    padding-top: 18px;
    margin-bottom: 32px;
}

.cooperation-item {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #999999;
    }

.choisen {
    color: #7033AC;
}

.cooperation-main-title {
    font-family: 'OpenSans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 100%;
color: #333333;
margin-bottom: 32px;
}

.cooperation-title {
    font-family: 'OpenSans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
color: #333333;
margin-bottom: 12px;
}

.cooperation-text {
    font-family: 'OpenSans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 180%;
color: #666666;
max-width: 842px;
margin-bottom: 32px;
}

.get-block {
    display: flex;
}

.cooperation-svg {
    margin-right: 12px;
}

.cooperation-little-text {
    font-family: 'OpenSans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #666666;
max-width: 587px;
}

.get-block:not(:last-child) {
    margin-bottom: 12px;
}

.get-block:last-child {
    margin-bottom: 30px;
}


.posibilites {
    font-family: 'OpenSans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
color: #FF862F;
margin-bottom: 14px;
display: inline-block;
letter-spacing: 0.3px;
}

.posibilites-text {
    margin-bottom: unset;
}

.posibilites-item:first-child {
margin-bottom: 12px;
}

.posibilites-item:last-child {
margin-bottom: 32px;
}

.guarantee-block {
    display: flex;
}

.guarantee-number {
    font-family: 'OpenSans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 180%;
color: #FF862F;
margin-right: 12px;
}

.gurantee-text {
    font-family: 'OpenSans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 180%;
color: #666666;
max-width: 816px;
}

.guarantee-block:not(:last-child) {
    margin-bottom: 13px;
}

.guarantee-block:last-child {
    margin-bottom: 32px;
}

.guarantee-img::after {
    content: url(../img/pen.png);
    margin-right: 32px;
}

.guarantee-img-text {
    display: flex;
    padding-bottom: 67px;
}

.guarntee-last-text {
    font-family: 'OpenSans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
color: #333333;
max-width: 515px;
margin-top: 22px;
}
