.useful {
    padding-top: 35px;
    padding-bottom: 35px;
}

.swiper-container-3 {
    max-width: 1310px;
    overflow: hidden;
}

.useful-slide {
    max-width: 624px;
    width: calc((100% / 2) - 16px);
    background: #F7F7F7;
border-radius: 0px 0px 10px 10px;
position: relative;
height: auto;
display: flex;
flex-direction: column;
}

.useful-card-container {
    padding: 26px 30px;
    max-width: 594px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.useful-card-title {
    font-family: 'OpenSans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
color: #333333;
max-width: 567px;
margin-bottom: 38px;
}


.useful-button {
    cursor: pointer;
    display: inline-block;
    margin-top: auto;
}

.useful-buttons {
    position: relative;
}

.offers-button-prev {
    right: 48px;
    top: 17px;
    left: unset;
    cursor: pointer;
  }

  .useful-button-prev:after {
    content: url(../img/arrow.svg);
    transform: rotate(180deg);
  }

  .useful-button-prev:hover::after {
    content: url(../img/status=hover.svg);
  }

  .useful-button-prev:focus::after {
    content: url(../img/status=focus.svg);
  }

  .useful-button-prev:active::after {
    content: url(../img/status=active.svg);
  }

  .useful-button-next {
    top: -3px;
    right: 45px;
    position: absolute;
    transform: rotate(180deg);
    cursor: pointer;
  }

  .useful-button-next:after {
    content: url('../img/arrow.svg');
  }

  
  .useful-button-next:hover::after {
    content: url(../img/status=hover.svg);
  }

  .useful-button-next:focus::after {
    content: url(../img/status=focus.svg);
  }

  .useful-button-next:active::after {
    content: url(../img/status=active.svg);
  }


.useful__list {
    display: flex;
    justify-content: space-between;
}

.useful-button-320 {
  display: none;
}

.useful-buttons-320 {
  display: none;
}